---

- name: Set PCT 1.0 server state.
  win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\PCT 1.0\Server
    name: Enabled
    type: dword
    data: "{{ (tls_pct|bool)|ternary('1','0') }}"
    state: present

- name: Set SSL 2.0 client default.
  win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\SSL 2.0\Client
    name: DisabledByDefault
    type: dword
    data: "{{ (tls_sslv2|bool)|ternary('0','1') }}"
    state: present

- name: Set SSL 2.0 server state.
  win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\SSL 2.0\Server
    name: Enabled
    type: dword
    data: "{{ (tls_sslv2|bool)|ternary('1','0') }}"
    state: present

- name: Set SSL 3.0 client default.
  win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\SSL 3.0\Client
    name: DisabledByDefault
    type: dword
    data: "{{ (tls_sslv3|bool)|ternary('0','1') }}"
    state: present

- name: Set SSL 3.0 server state.
  win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\SSL 3.0\Server
    name: Enabled
    type: dword
    data: "{{ (tls_sslv3|bool)|ternary('1','0') }}"
    state: present

- name: Set TLS 1.0 client default.
  win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.0\Client
    name: DisabledByDefault
    type: dword
    data: "{{ (tls_tlsv10|bool)|ternary('0','1') }}"
    state: present

- name: Set TLS 1.0 server state.
  win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.0\Server
    name: Enabled
    type: dword
    data: "{{ (tls_tlsv10|bool)|ternary('1','0') }}"
    state: present

- name: Set TLS 1.1 client default.
  win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.1\Client
    name: DisabledByDefault
    type: dword
    data: "{{ (tls_tlsv11|bool)|ternary('0','1') }}"
    state: present

- name: Set TLS 1.1 server default.
  win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.1\Server
    name: DisabledByDefault
    type: dword
    data: "{{ (tls_tlsv11|bool)|ternary('0','1') }}"
    state: present

- name: Set TLS 1.1 server state.
  win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.1\Server
    name: Enabled
    type: dword
    data: "{{ (tls_tlsv11|bool)|ternary('1','0') }}"
    state: present

- name: Set TLS 1.2 client default.
  win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.2\Client
    name: DisabledByDefault
    type: dword
    data: "{{ (tls_tlsv12|bool)|ternary('0','1') }}"
    state: present

- name: Set TLS 1.2 server default.
  win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.2\Server
    name: DisabledByDefault
    type: dword
    data: "{{ (tls_tlsv12|bool)|ternary('0','1') }}"
    state: present

- name: Set TLS 1.2 server state.
  win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\Protocols\TLS 1.2\Server
    name: Enabled
    type: dword
    data: "{{ (tls_tlsv12|bool)|ternary('1','0') }}"
    state: present

